<div class="wrapper wrapper-content">
  <div class="row" data-behavior="key-up">
    <div class="col-md-10 col-md-offset-1">
      <div class="ibox">
        <div class="ibox-title">
          <h1><%= ibox_title %></h1>
        </div>
        <div class="ibox-content">
          <div class="row">
            <%= render '_form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
